@using myfinance_web_netcore.Models.Domain

@{
    ViewData["Title"] = "Transações Financeiras";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<a class="btn btn-info" asp-controller="Transacao" asp-action="Cadastro">Nova Transação</a>

<hr />

<table class="table">
    <thead>
        <tr>
            <th style="width: 50px;">Id</th>
            <th>Data</th>
            <th>Histórico</th>
            <th>Valor</th>
            <th>Tipo Operação</th>
            <th>Plano Conta</th>
            <th style="width: 160px;">#</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in (List<TransacaoModel>)ViewBag.ListaTransacao)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Data</td>
                    <td>@item.Historico</td>
                    <td>@item.Valor</td>
                    <td>@item.ItemPlanoConta.Tipo</td>
                    <td>@item.ItemPlanoConta.Descricao</td>
                    <td>
                        <a asp-controller="Transacao" asp-action="Cadastro" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                        @Html.Partial("Forms/_ConfirmRemoveButton", @item.ConfirmRemoveButtonParams())
                    </td>
                </tr>
            }
        }            
    </tbody>
</table>
